div{
    margin: 10px 0px 10px 0px;
    color: rgb(73, 6, 6);
}

h1{
    text-align: center;
    color: black;
}

.container{
    text-align: center;
}

img{
    margin: 5px;
    width: 20px;
}

#avatar{
    width: 150px;
}

ul{
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}